:root {
  --white: #ecf0f1;
  --white-sec: #95a5a6;
  --primary: #2980b9;
  --primary-sec: #3498db;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Oswald", serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/bg_clima.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  color: var(--white);
  font-size: 2rem;
}
